.button {
    width: 150px;
    height: 30px;
    background-color: $main-color;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    transition: 0.3s all;
    &_main {
        margin-top: 68px;
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 55px;
        font-size: 16px;
        margin-top: 20px;
    }
    &_mini {
        width: 131px;
        height: 40px;
        font-size: 14px;
    }
    &:hover {
        box-shadow: 0 3px 15px $main-color;
    }
}