.consultation {
    min-height: auto;
    padding: 103px 20px 92px 20px;
    background: url('../img/bg2.jpg') center (center/cover) no-repeat;
    &__descr {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        margin-top: 80px;
    }
}