.consultation {
    min-height: 680px;
    padding: 103px 0 92px 0;
    background: url('../img/bg2.jpg') center (center/cover) no-repeat;
    &__descr {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        margin-top: 80px;
    }
}