.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-size: 12px;
        text-align: center;
        font-weight: 500;
        color: #ffffff;
        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
        }
    }
    &__phone {
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 8px;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}