
@media screen and ( max-width: 767px) {
    .promo {
        .header {
            &__logo {
                width: 231px;
            }
            &__official {
                display: none;
            }
            &__phone {
                font-size: 20px;
                text-decoration: underline;
            }
            &__contacts {
                .button {
                    display: none;
                }
            }
        }
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
        .button_main {
            width: 280px;
            height: 46px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantages {
        &__header {
            font-size: 28px;
        }
        &__main {
            width: 180px;
            .header {
                font-size: 16px;
            }
        }
    }
}

@media screen and ( max-width: 575px) {
    .promo {
        padding-bottom: 40px;
        .header {
            &__logo {
                width: 180px;
                margin: 0 auto;
            }
            &__phone {
                display: none;
            }
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 10px;
            margin-top: 0;
        }
        &__icons {
            width: 274px;
            margin-top: 30px;
        }
        &__icon {
            font-size: 10px;
            img {
                width: 35px;
            }
        }
        .button_main {
            width: 260px;
            height: 42px;
        }
    }
    .advantages {
        &__header {
            font-size: 22px;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
        &__main {
            margin-top: 60px;
            &:nth-child(2), &:nth-child(3) {
                margin-top: 30px;
            }
        }
    }
}