.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg1.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 91px;
    }
    &__header {
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__icons {
        margin-top: 66px;
        width: 424px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        img {
            display: block;
            margin: 0 auto 20px auto;
        }
    }
    &__link {
        margin-top: 18px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        a {
            color: #ffffff;
            &:hover {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}