.reviews {
    &__wripper {
        padding: 70px 0;
    }
    &__block {
        display: flex;
        margin: 0 auto;
        max-width: 881px;
    }
    &__photo {
        display: inline-block;
        max-width: 169px;
        max-height: 169px;
        img {
            width: 100%;
        }
    }
    &__name {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__stat {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 19px;
    }
    hr {
        max-width: 940px;
        height: 1px;
        background-color: #f6f6f6;
        margin: 48px 0 53px 0;
    }
    &__text {
        margin-left: 62px;
        max-width: 650px;
    }
}